{% extends "page.html" %}

{% import 'macros/form.html' as form %}

{% block title %}
    {{ _("Better Stats - Dashboard") }}
{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <li class="active"><a href="{{ h.url_for('better_stats.dashboard') }}">{{ _("Dashboard") }}</a></li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
    <div class="primary col p-0 bstats-dashboard" role="main" data-module="bstats-stats-manager bstats-export bstats-theme bstats-filter bstats-embed bstats-expand bstats-favorite">

        {% block primary_content %}
          {% if h.check_access('sysadmin') %}
            {% snippet 'better_stats/dashboard_content.html', metrics=accessible_metrics, groups=groups, user_favorites=user_favorites %}
          {% else %}
            <div class="module">
              <div class="p-3">
                Access Denied
              </div>
            </div>
          {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{%- block scripts %}
    {% asset 'better_stats/better_stats-js' %}

    {{ super() }}
{% endblock %}
